## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Secrets & env
.appsettings.*.local.json
*.pfx
.env
.env.*

## IDE
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Database files
*.db
*.db-shm
*.db-wal

## Exports / temp
exports/
*.xlsx
**/logs/
*.log

